.result {
    text-align: center;
    background-color: rgb(163, 195, 216);
    border: 1px solid rgb(1, 0, 51);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 0;
}

.result__link {
    font-size: small;
    font-weight: bold;
    border: none;
    padding: 0;
}

.result__website {
    color: rgb(0, 85, 182);
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 0;
}

.fresult__website:visited {
    color: rgb(15, 1, 120);
}

.result__website:hover {
    color: rgb(15, 1, 200);
}

.result__website:active {
    color: rgb(15, 32, 250);
}