.result {
    text-align: center;
}

.result__amount {
    margin: 30px;
}

.result__link {
    font-size: small;
    border: none;
    color: rgb(1, 0, 51);
}

.result__link--website {
    color: rgb(0, 85, 182);
    text-decoration: none;
    font-weight: bold;
}

.result__link--website:visited {
    color: rgb(15, 1, 120);
}

.result__link--website:hover {
    color: rgb(15, 1, 200);
}

.result__link--website:active {
    color: rgb(15, 32, 250);
}