.link {
    text-align: center;
    margin-top: 50px;
}

.link__website {
    color: rgb(3, 27, 163);
    text-decoration: none;
    font-weight: bold;
}

.link__website:visited {
    color: rgb(15, 2, 138);
}

.link__website:hover {
    color: rgb(4, 116, 190);
}

.link__website:active {
    color: rgb(0, 140, 255);
}